<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="../../assets/Restaurant1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Resorts For You</h5>
                <p class="card-text">
                    Complete Software Suite customized to Your restaurant needs
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="../../assets/bar3.jpg" class="card-img-top1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Types of Resorts</h5>
                <div class="card-text1">
                    <div class="list1">
                        <a href="" routerLink="/bar" routerLinkActive="active-link" class="card__link">Bar</a>
                    </div>
                    <div class="list2">
                        <a href="" routerLink="/cafe" routerLinkActive="active-link" class="card__link">cafe</a>
                    </div>
                    <div class="list3">
                        <a href="" routerLink="/cloud-kitchen" routerLinkActive="active-link" class="card__link">Cloud Kitchen</a>
                    </div>
                    <div class="list5">
                        <a href="" routerLink="/dine-in" routerLinkActive="active-link" class="card__link">Dine in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>